* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: rgb(255, 255, 255);
  --color-orange: #ff6b00;
  --color-black: #1c1a19;
  --header-bg-color: #3e3c3c;
}

@media screen and (max-width: 767px) {
  * {
    margin: 0 auto;
    padding: 0;
  }

  body {
    min-width: 375px;
  }

  .header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 92px;
    padding-top: 1px;
    background: #3c3a39;
    color: white;
    z-index: 1000;
  }

  .flex-container li {
    list-style: none;
    color: #fff;
  }

  .logo {
    margin: 56px 0 12px 24px;
  }

  .nav-icon {
    margin: 60px 24px 19px 0;
    position: relative;
    right: 1.67%;
  }

  .logo a {
    height: 24px;
    padding-left: 1px;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    margin-left: -5px;
  }

  .navbar-ul {
    display: none;
  }

  /* == main section start == */

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    background: #1c1a19;
  }

  .title {
    margin-top: 120px;
    width: 327px;
    height: 124px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .sub-title {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 327px;
    height: 27px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .detail {
    width: 327px;
    height: 123px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .social-media {
    align-items: center;
    position: relative;
    width: 375px;
    padding-top: 2px;
    background: #1c1a19;
  }

  .media-links {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 130px;
    width: 200px;
    height: 40px;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .media-links img {
    padding-right: 21px;
  }

  .image {
    float: right;
    width: 135px;
    margin-top: -100px;
  }

  .image .img1 {
    margin-left: 32px;
    height: 300px;
    top: -30px;
    bottom: 0.36%;
    overflow: hidden;
  }

  /* == work section start == */

  .work {
    display: work;
    width: 100vw;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
  }

  .card-header {
    width: 327px;
    text-align: center;
    margin-top: 107px;
    margin-bottom: 10px;
    padding: 12px 0;
    font-size: 26px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    color: #1c1a19;
  }

  .card-img {
    width: 327px;
    height: 1px;
    margin-top: -1px;
    margin-bottom: 67px;
    background-image: url(img/Vector44.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card-main-img {
    margin-top: 25px;
    width: 327px;
    height: 237px;
    background-image: url(img/Img\ Placeholder88.png);
    margin-bottom: 24px;
  }

  .card-subtitle {
    margin: 0 auto;
    text-align: center;
    width: 327px;
    height: 36px;
    font-size: 22px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 44px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .card-text {
    width: 327px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
  }

  .work-card-buttons {
    margin-bottom: 12px;
  }

  .card-last-button a {
    padding: 24px 12px 12px 12px;
    margin-bottom: 22px;
    text-decoration: none;
    color: #fff;
  }

  .footer-media-links a {
    padding-left: 14px;
  }

  ul {
    list-style: none;
  }

  .work-button-mobile button {
    width: 324px;
    align-self: flex-start;
    padding: 17px 12px;
    color: white;
    background-color: #ff6b00;
    margin-right: 42px;
  }

  .contact-form-container button {
    padding: 12px;
    background: #ff6b00;
    color: white;
    width: 181px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    margin-bottom: 124px;
  }

  .contact-last-button button {
    width: 167px;
    align-self: flex-start;
    padding: 17px 12px;
    color: white;
    background: #f55800;
    margin-right: 42px;
  }

  .work-button-mobile button:hover {
    width: 324px;
    align-self: flex-start;
    padding: 17px 12px;
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #f55800;
    margin-right: 42px;
  }

  .work-card-buttons ul {
    width: 327px;
    display: flex;
    list-style: none;
    padding-top: 22px;
    color: #fff;
  }

  .card-about-button {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px 12px 0 14px;
    padding-bottom: 12px;
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #ff6b00;
    border: 1px solid #ff6b00;
    align-self: flex-start;
  }

  .skillname a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
  }

  .pro-buttons li a {
    color: white;
    text-decoration: none;
  }

  .card-about-button:hover {
    padding: 12px 12px 12px 12px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #f55800;
  }

  .card-pro-buttons ul li a {
    text-decoration: none;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.24);
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .work-card-buttons ul li a {
    padding: 10px 12px;
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
  }

  .card-buttons ul li a {
    text-decoration: none;
    padding: 10px 0;
    color: #091e42;
    background: #fff;
    border: 1px solid #8993a4;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .contact-button-card a:hover {
    text-decoration: none;
    color: #f55800;
  }

  .about-image {
    margin-top: -80px;
    margin-right: 0;
    margin-bottom: 30px;
    height: 250px;
    width: 170px;
    background-image: url(img/About.png);
    background-size: 100%;
    color: #ff6b00;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
  }

  .about-vector-img {
    
    height: 1px;
    background-image: url(img/pro5.png);
    background-color: rgb(208, 204, 204);
    background-size: cover;
    margin-bottom: 30px;
  }

  /* == professional section start == */

  .card2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 327px;
    background:

      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(img/Img\ Placeholder55.png);
  }

  .card-title {
    margin-top: 84px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 295px;
    height: 81px;
    text-align: center;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .card-pro-text {
    color: #fff;
    align-items: center;
    width: 295px;
    margin-left: 15px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .card-pro-buttons ul {
    margin-bottom: 14px;
    width: 327px;
    display: flex;
    list-style: none;
    padding-top: 22px;
  }

  .pro-card-button {
    width: 327px;
    background-color: #ff6b00;
    color: white;
    margin-top: 24px;
    padding: 16px 0 4px 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    height: 40px;
  }

  .pro-card-button:hover {
    width: 327px;
    background: #fff5e1;
    color: #ff6b00;
    margin-top: 24px;
    padding: 16px 0 4px 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ff6b00;
  }

  /* === about section start === */
  .card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    padding-top: 120px;
    width: 375px;
    height: 830px;
    background: #1c1a19;
  }

  .card-about-title h3 {
    width: 327px;
    margin-bottom: 24px;
    margin-left: 20px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .card-about-text p {
    width: 327px;
    margin-left: 18px;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
    flex: none;
    align-self: flex-start;
    order: 1;
    flex-grow: 0;
  }

  .skill {
    padding-top: 107px;
    display: grid;
    place-items: center;
    width: 327px;
    order: 2;
  }

  .skill-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .spslill {
    margin-top: 30px;
  }

  .skill-img {
    color: #fff;
    align-items: center;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .skillname {
    list-style: none;
    padding-bottom: 40px;
  }

  .lastskill {
    padding-bottom: 80px;
  }

  /* == cantact part start == */

  .contact-form-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 375px;
    text-align: center;
  }

  .contact-form-container p {
    width: 327px;
    height: 216px;
    margin-top: 120px;
    margin-bottom: 80px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  form input {
    height: 24px;
    margin-bottom: 39px;
    padding-bottom: 14px;
    padding-left: 16px;
    width: 327px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #979493;
    border-style: none;
    border-bottom: 1px solid #dbd8d7;
    list-style: none;
  }

  #name,
  #email {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  textarea {
    width: 327px;
    height: 114px;
    margin-bottom: 24px;
    margin-top: -12px;
    padding-top: 36px 12px;
    background-color: #fbf8f7;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    border-style: none;
  }

  .contact-form-container button:hover {
    padding: 12px;
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #f55800;
    width: 181px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
  }

  .contact-last-button button:hover {
    width: 167px;
    align-self: flex-start;
    padding: 17px 12px;
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #f55800;
    margin-right: 42px;
  }

  /* == footer section == */

  footer {
    margin: 0 auto;
    height: 81px;
    margin-top: 28px;
    margin-bottom: 8px;
  }

  .top-line-footer {
    margin: 0 auto;
    width: 325px;
    height: 1px;
    margin-bottom: 15px;
    border: 0.1px solid #dfe1e6;
  }

  .social_navigation-footer {
    margin: 0 auto;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-part {
    margin: 0 auto;
    height: 81px;
    margin-bottom: 8px;
  }

  .liner-footer {
    margin: 0 auto;
    height: 5px;
    width: 134px;
    background-color: #0d151e;
    border-radius: 10px;
    margin-top: -33px;
  }
}

@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
  }

  body {
    width: 100%;
  }

  .header {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--header-bg-color);
  }

  .logo {
    margin-left: 154px;
    color: white;
  }

  .logo a {
    color: white;
    text-decoration: none;
    width: 92px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  .navbar-ul {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 180px;
    list-style: none;
  }

  .card-about-button a {
    width: 100px;
    height: 24px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .contact-button-card a {
    text-decoration: none;
    color: white;
  }

  .navbar-ul li a {
    color: #fff;
    margin-left: 26px;
    text-decoration: none;
    width: 63px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .navbar-ul li {
    height: 45%;
    width: 45%;
  }

  .hambarg-icon {
    display: none;
  }

  /* ==== header end === */

  /* === main start === */

  .main {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: var(--color-black);
    padding-bottom: 60px;
  }

  .main-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 670px;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    color: var(--color-white);
    width: 566px;
  }

  .main-text .title {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    width: 420px;
    margin-left: 143px;
  }

  .main-text .sub-title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    margin-right: 23px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .main-text .detail {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-left: 143px;
  }

  .main-img {
    height: 633px;
    width: 645px;
    background: #1c1a19;
    background-image: url(img/Group99.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    margin-top: 0;
    overflow: hidden;
  }

  .image {
    display: none;
  }

  .social-media {
    position: absolute;
    top: 34%;
    left: 36px;
  }

  .media-links li a img {
    margin-top: 26px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    padding-left: 40px;
  }

  .work-frist-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 130px;
  }

  .card-header {
    width: 515px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .card-img {
    margin-left: 1px;
    width: 709px;
    height: 1px;
    background-image: url(img/Vector222.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .work-second-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
  }

  .card-main-img {
    align-self: flex-start;
    width: 684px;
    height: 448px;
    background-image: url(img/workmain.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 114px;
    margin-bottom: 50px;
    margin-right: 30px;
  }

  .work-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 588px;
    height: 348px;
  }

  .card-subtitle {
    width: 548px;
    margin-left: 24px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .card-text {
    width: 448px;
    margin-left: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .work-button-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-bottom: 12px;
    margin-left: 24px;
  }

  .work-button-group li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-right: 12px;
  }

  .work-button-group li a {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 20px;
    border: 1px solid #d7dbe2;
    padding: 10px 12px;
    color: #091e42;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }

  .card-about-button {
    padding: 12px;
    gap: 10px;
    align-self: flex-start;
    width: 124px;
    height: 48px;
    margin-left: 24px;
    background: #f55800;
    margin-bottom: 50px;
  }

  .card-about-button:hover {
    padding: 12px;
    gap: 10px;
    align-self: flex-start;
    width: 124px;
    height: 48px;
    margin-left: 24px;
    background: #fff5e1;
    color: #f55800;
  }

  .form-input button {
    padding: 12px;
    background: #ff6b00;
    color: white;
    width: 181px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    margin-bottom: 124px;
  }

  .work-text button {
    color: #fff;
  }

  .work-button-desk button {
    width: 324px;
    align-self: flex-start;
    padding: 17px 12px;
    color: white;
    background: #f55800;
    margin-right: 42px;
  }

  .work-button button {
    margin-left: 142px;
    width: 161px;
    margin-bottom: 40px;
    color: white;
    background: #f55800;
  }

  .work-text button:hover {
    background: #fff5e1;
    color: #f55800;
  }

  .social_navigation-footer li a {
    margin-right: 20px;
  }

  .skill-group li a {
    text-decoration: none;
    width: 114px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .pro-buttons li a {
    text-decoration: none;
    color: #fff;
  }

  .card-about-button a:hover {
    width: 100px;
    height: 24px;
    color: #f55800;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .profession-group {
    display: grid;
    place-items: center;
    width: 75vw;
    margin: 24px 143px 130px 143px;
  }

  .professional-card-row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .card2.professional-card-1 {
    margin-top: -62px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:

      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(img/Img\ Placeholder41.png);
  }

  .work-button .card-about-button {
    width: 327px;
    height: 58px;
    color: white;
    background: #f55800;
  }

  .work-button .card-about-button:hover {
    width: 327px;
    height: 58px;
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #f55800;
    align-self: flex-start;
  }

  .card2.professional-card-2 {
    width: 20vw;
    margin: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:

      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 0.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(img/Img\ Placeholder42.png);
  }

  .card2.professional-card-3 {
    width: 20vw;
    margin: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:

      linear-gradient(
        179.4deg,
        rgba(38, 38, 38, 0) 0.81%,
        rgba(38, 38, 38, 0.9) 84.03%
      ),
      url(img/Img\ Placeholder43.png);
  }

  .card2.professional-card-4 {
    width: 20vw;
    margin: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:

      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(img/Img\ Placeholder45.png);
  }

  .card2.professional-card-5 {
    width: 20vw;
    margin: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:

      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 84.18%
      ),
      url(img/Img\ Placeholder41.png);
  }

  .card2.professional-card-6 {
    width: 20vw;
    margin: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:

      linear-gradient(
        179.4deg,
        rgba(38, 38, 38, 0) 0.81%,
        rgba(38, 38, 38, 0.9) 84.03%
      ),
      url(img/Img\ Placeholder43.png);
  }

  .card-title {
    margin-top: 178px;
    margin-left: 18px;
    width: 337px;
    color: #fff;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .card-pro-text {
    width: 337px;
    margin-left: 18px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .professional-card-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
  }

  .pro-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    list-style: none;
    width: 369px;
    padding-bottom: 12px;
  }

  .pro-buttons li {
    align-self: flex-start;
    margin-right: 12px;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    color: white;
    margin-left: 24px;
  }

  .pro-card-button {
    display: none;
    width: 0;
  }

  .work-button-desk button:hover {
    width: 324px;
    align-self: flex-start;
    padding: 17px 12px;
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #f55800;
    margin-right: 42px;
  }

  .about-row {
    padding-top: 100px;
    margin: 0 auto;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 75vw;
    background: #262626;
  }

  .card-about-title h3 {
    margin-left: 142px;
    margin-bottom: 24px;
    width: 566px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .card-about-text p {
    width: 566px;
    margin-left: 142px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-bottom: 24px;
  }

  .work-button button:hover {
    margin-left: 142px;
    width: 161px;
    height: 48px;
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #f55800;
  }

  .about-lower-img {
    margin: 0 auto;
    width: 20vw;
    height: 1px;
    background-image: url(img/about-last.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 200px;
  }

  .lab {
    margin-top: -10px;
  }

  .mab {
    margin-top: 8px;
  }

  .rab {
    margin-top: -6px;
    margin-left: 22px;
  }

  .spslill {
    margin-right: 70px;
  }

  .about-desk-img {
    margin-right: 0 auto;
    width: 25%;
    height: 252px;
    align-self: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .about-vector-img {
    width: 60%;
    height: 40vh;
    padding-right: -123px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-image: url(img/about-deskimg.png);
    background-position: center;
    background-size: cover;
    align-self: flex-end;
  }

  .skill {
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    background: #262626;
    padding-bottom: 50px;
  }

  .card-skill h3 {
    color: #fff;
    width: 228px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .skill-group {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-me {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    flex-wrap: wrap;
  }

  .form-part {
    margin-top: 87px;
    width: 35%;
  }

  .contact-text {
    width: 455px;
    margin-top: -50px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 30px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  form input {
    height: 24px;
    margin-bottom: 39px;
    padding-bottom: 14px;
    padding-left: 16px;
    width: 684px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #979493;
    border-style: none;
    border-bottom: 1px solid #dbd8d7;
    list-style: none;
  }

  #name,
  #email {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  textarea {
    width: 684px;
    height: 114px;
    margin-bottom: 24px;
    padding-top: 36px 12px 12px 12px;
    background-color: #fbf8f7;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    border-style: none;
  }

  .form-input button:hover {
    padding: 12px;
    background-color: #fff5e1;
    border: 1px solid #ff6b00;
    color: #f55800;
    width: 181px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
  }

  .top-line-footer {
    margin: 0 auto;
    width: 1440px;
    height: 1px;
    background: #dfe1e6;
  }

  .social_navigation-footer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 75vw;
    list-style: none;
  }

  .social_navigation-footer li {
    margin-right: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .liner-footer {
    display: none;
  }
}
